server:
  port: 8082
  error:
    include-message: always
    include-binding-errors: always
    include-stacktrace: on_param

service:
  user:
    url: http://localhost:8080
  product:
    url: http://localhost:8081

spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/order
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver
  jpa:
    properties:
      hibernate:
        ddl-auto: none
        dialect: org.hibernate.dialect.PostgreSQLDialect
        id:
          uuid_generator_strategy: org.hibernate.id.uuid4.StandardRandomStrategy
  liquibase:
    enabled: true
